Repository tiagoposse/helper-images: changes, and which Drone steps are due for each by the changed paths.
All: cluster-droid, vault-agent, zipalign, kaniko-arm

.drone.yml:

---
kind: pipeline
type: kubernetes
name: cluster-droid

platform:
  os: linux
  arch: arm

steps:
- name: build
  image: registry.tiagoposse.com/kaniko-arm:1.2.0
  commands:
  - printf "`cat cluster-droid/VERSION`,latest" > .tags
  - /kaniko/executor --dockerfile=./cluster-droid/Dockerfile --context=cluster-droid  --cache=true --cache-repo=registry.tiagoposse.com/cluster-droid  --destination=registry.tiagoposse.com/cluster-droid  --build-arg=HELM_VERSION=3.4.2 --build-arg=KUBECTL_VERSION=1.18.10 --build-arg=VAULT_VERSION=1.6.1

trigger:
  paths:
  - cluster-droid/*

---
kind: pipeline
type: kubernetes
name: vault-agent

platform:
  os: linux
  arch: arm

steps:
- name: build
  image: registry.tiagoposse.com/kaniko-arm:1.2.0
  commands:
  - printf "`cat vault-agent/VERSION`,latest" > .tags
  - "/kaniko/executor --dockerfile=./vault-agent/Dockerfile --context=vault-agent  --cache=true --cache-repo=registry.tiagoposse.com/vault-agent  --destination=registry.tiagoposse.com/vault-agent "

trigger:
  paths:
  - vault-agent/*

---
kind: pipeline
type: kubernetes
name: zipalign

platform:
  os: linux
  arch: arm

steps:
- name: build
  image: registry.tiagoposse.com/kaniko-arm:1.2.0
  commands:
  - printf "`cat zipalign/VERSION`,latest" > .tags
  - "/kaniko/executor --dockerfile=./zipalign/Dockerfile --context=zipalign  --cache=true --cache-repo=registry.tiagoposse.com/zipalign  --destination=registry.tiagoposse.com/zipalign "

trigger:
  paths:
  - zipalign/*

---
kind: pipeline
type: kubernetes
name: kaniko-arm

platform:
  os: linux
  arch: arm

steps:
- name: build
  image: registry.tiagoposse.com/kaniko-arm:1.2.0
  commands:
  - printf "`cat kaniko-arm/VERSION`,latest" > .tags
  - "/kaniko/executor --dockerfile=./kaniko-arm/Dockerfile --context=kaniko-arm  --cache=true --cache-repo=registry.tiagoposse.com/kaniko-arm  --destination=registry.tiagoposse.com/kaniko-arm "

trigger:
  paths:
  - kaniko-arm/*

...

with kaniko-arm
  .drone.jsonnet
  .drone.yml
  cluster-droid/VERSION
  cluster-droid/app/k8s.py
  cluster-droid/app/main.py
  cluster-droid/app/vault.py
  kaniko-arm/Dockerfile
  kaniko-arm/VERSION
Due: cluster-droid, kaniko-arm

remove cluster-droid from this repo
  .drone.yml
  cluster-droid/.gitignore
  cluster-droid/Dockerfile
  cluster-droid/VERSION
  cluster-droid/app/.appargs.yml
  cluster-droid/app/__init__.py
  cluster-droid/app/argsparsing.py
  cluster-droid/app/k8s.py
  cluster-droid/app/main.py
  cluster-droid/app/vault.py
  cluster-droid/requirements.txt
Due: cluster-droid

adding vault-agent v0.7.0
  .drone.jsonnet
  .drone.yml
  vault-agent/Dockerfile
  vault-agent/VERSION
Due: vault-agent

v2.2.0 of drone-monorepo
  .drone.yml
  kaniko-arm/Dockerfile
  kaniko-arm/VERSION
  vault-agent/Dockerfile
Due: vault-agent, kaniko-arm

add terraform
  .drone.yml
  terraform/Dockerfile
  terraform/VERSION
  vault-agent/Dockerfile
Due: vault-agent

add psono-admin-client-arm64
  README.md
  psono-admin-client-arm64/VERSION
  psono-admin-client-arm64/build.sh
  psono-admin-client-arm64/script.sh
Due: none

add registry credentials
  .drone.yml
Due: none

moving to new version
  .drone.yml
  kaniko-arm/VERSION
  kaniko-arm64.dockerfile
  kube-pipeline.dockerfile
  terraform-arm64.dockerfile
  terraform/Dockerfile
  terraform/VERSION
  vault-agent-arm64.dockerfile
  vault-agent/VERSION
  zipalign.dockerfile
  zipalign/VERSION
Due: vault-agent, zipalign, kaniko-arm
